main {
  position:  relative;
  top:  60px;
  padding-bottom:  100px;
  background-color: #FEF7DC;
}

#footer {
  font-size: 6px;
  margin-bottom: 0rem!important;
}

/* Solid border */
hr.solid {
  border-top: 1px solid black;
}

.carousel {
  /* width:900px; */
  /* width:80vw; */
  /* height:30vh; */
  max-width: 480px;
  margin: auto;
}

.tableMonkey {
  max-width: 25vw;
  border-radius: 3%;
  /* padding: 3em; */
  transition: transform .5s;
}

.tableMonkey:hover {
  transform: scale(1.1);
}

.selectedMonkey {
  /* border-width: 5px; */
  /* border-color: black; */
  border-radius: 50%;
  /* padding: 4px; */

}

/* used to space things out in a standard way */
.standard {
  margin-bottom: 1rem;
}

.background {
  background-color: #FEF7DC
  !important;
}