main {
  position:  relative;
  top:  60px;
  padding-bottom:  100px;
}

#footer {
  font-size: 6px;
  margin-bottom: 0rem!important;
}

/* Solid border */
hr.solid {
  border-top: 1px solid black;
}

/* vertical line */
.vl {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 1%;
  border-left: -3px;
  top: 0;
}

/* .carouselUser {
  background-color: blue;
  margin: auto;
}

.carouselCaption {
  top: 100;
  bottom: auto; 
} */

/* .carousel {
  background-color: seagreen;
} */

/* <div className="vl"></div> */