main {
  position:  relative;
  top:  60px;
  padding-bottom:  100px;
}

#footer {
  font-size: 6px;
  margin-bottom: 0rem!important;
}

/* Solid border */
hr.solid {
  border-top: 1px solid black;
}

/* vertical line */
.vl {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 1%;
  border-left: -3px;
  top: 0;
}

.carousel {
  /* width:900px; */
  /* width:80vw; */
  /* height:30vh; */
  max-width: 480px;
  margin: auto;
}

.tableMonkey {
  max-width: 25vw;
  border-radius: 3%;
}